.info-block {
    margin: 20px 43px 18px 20px;
    &_bottom {
        margin-left: 43px;
    }
    &_second {
        margin-top: 36px;
    }
    &__personal {
        margin-top: 17px;
    }
    &__element {
        position: relative;
        margin-top: 11px;
        font-size: 11px;
        line-height: 13px;
        font-weight: 400;
        &_first {
            margin-top: 0;
        }
        b {
            padding-top: 20px;
        }
        a {
            color: #0d0d0d;
            text-decoration: none;
            &:hover {
                color: $main-color;
            }
        }
    }
    &__wrapper {
        position: absolute;
        // -5 only because we have margins (43px)
        right: -5px;
        transform: translateX(-50%);
    }
    &__round {
        display: inline-block;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background-color: $main-color;
        &_gray {
            background-color: gray;
        }
    }
}